{% extends "@theme/base.html.twig" %}


{% block navbar_notifications '' %}

                {% block sidebar_cta %}
                    <strong class="d-inline-block mb-2">Sample Data</strong>
                    <div class="mb-3 text-sm">
                        Checkout the available subtitles!
                    </div>
                    <a href="https://www.opensubtitles.org/en/search/subs" target="_blank"
                       class="btn btn-primary btn-block">
                        opensubtitles.org</a>
                {% endblock %}
